{% extends 'base.html' %}
{% block title %}New Blogly Users{% endblock %}
{% block content %}
    <h1>Create a user</h1>
    <form action="/users" method="POST">
        <div>
            <label for="f_name">First Name</label>
            <input type="text" name="f_name" id="f_name" placeholder="Enter a first name">            
        </div>
        <div>
            <label for="l_name">Last Name</label>
            <input type="text" name="l_name" id="l_name" placeholder="Enter a last name">            
        </div>
        <div>
            <label for="image_url">Image URL</label>
            <input type="text" name="image_url" id="image_url" placeholder="Provide an image of this user">            
        </div>
        <button>Add</button>
    </form>
{% endblock %}